<!DOCTYPE html>
    <head>
        <title></title>
        <link rel="stylesheet"  type= "text/css" href="/static/style.css">
    </head>
    <body>
    <div class="wrapper">
        <nav>
            <p>RHamati</p>
            <ul>
                <li> <a href="http://127.0.0.1:5000/">Home</a> </li>
                <li><a href="http://127.0.0.1:5000/aboutme">About me</a></li>
                <li><a href="http://127.0.0.1:5000/research">Research</a></li>
                <li><a href="http://127.0.0.1:5000/gallery">Gallery</a></li>
                <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <center>
        <div class="wrapper">
            <h1> GALLERY </h1>
            <br>
            <br>
            <img  src="/static/img/beach.jpg" alt="" width="400px">
            <img  src="/static/img/camel.jpg" alt="" width="400px">
            <img  src="/static/img/desert.jpg" alt="" width="400px">
            <img  src="/static/img/eye.JPG" alt="" width="400px">
            <img  src="/static/img/grumari.jpg" alt="" width="400px">
            <img  src="/static/img/nyc.jpg" alt="" width="400px">
            <img  src="/static/img/paris.JPG" alt="" width="400px">
            <img  src="/static/img/rami3.jpg" alt="" width="400px">
            <img  src="/static/img/rami4.jpg" alt="" width="400px">
            <img  src="/static/img/rio.jpg" alt="" width="400px">
            <img  src="/static/img/rum2.JPG" alt="" width="400px">
            <img  src="/static/img/spider.JPG" alt="" width="400px">
            <img  src="/static/img/rami5.jpg" alt="" width="400px">
            <img  src="/static/img/rami2.jpg" alt="" width="400px">
            <img  src="/static/img/rami6.jpg" alt="" width="400px">
            <img  src="/static/img/IMG_9589.JPG" alt="" width="400px">
            
            &nbsp;
            <br>
            <br>

        
        <p style="text-align: left; font-family: monospace; font-size: 20px; color: rgb(255, 255, 255);margin-left: 150px; margin-right: 150px;">
         Above are a couple of the pictures that I took throughout the years. Some of them are from my travels, while others are from home country. Every picture brings me back to a unique moment/memory of my life that I am grateful for. 
        </p>
    </div>
    </center>
    </body>
</html>