<!DOCTYPE html>
    <head>
        <title></title>
        <link rel="stylesheet"  type= "text/css" href="/static/style.css">
    </head>
    <body>
    <div class="wrapper"></div>
        <nav>
            <p>RHamati</p>
            <ul>
                <li> <a href="http://127.0.0.1:5000/">Home</a> </li>
                <li><a href="http://127.0.0.1:5000/aboutme">About me</a></li>
                <li><a href="http://127.0.0.1:5000/research">Research</a></li>
                <li><a href="http://127.0.0.1:5000/gallery">Gallery</a></li>
                <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
            </ul>
        </nav>
    </div>

    <h1> GALLERY </h1>
    </body>
</html>