<!DOCTYPE html>
    <head>
       
        <title>Pandas-that-fly</title>
        <link rel="stylesheet"  type= "text/css" href="/static/style.css">
    </head>
    <body>
    <div class="wrapper">

        
        <nav>
            <p>RHamati</p>
            <ul>
                <li> <a href="http://127.0.0.1:5000/">Home</a> </li>
                <li><a href="http://127.0.0.1:5000/aboutme">About me</a></li>
                <li><a href="http://127.0.0.1:5000/research">Research</a></li>
                <li><a href="http://127.0.0.1:5000/gallery">Gallery</a></li>
                <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
                
            </ul>
        </nav>
    </div>
    <div class="wrapper">
        <center>
            <h1>HOME</h1>
            
            <img class="img-rio" src="/static/img/rami.png" alt="Rio-Cristo">
            <h1>Rami J. Hamati</h1>  
             &nbsp;
             &nbsp;

            <!-- <div class="short_intro"> -->
                <p style="text-align: center; font-family: monospace; font-size: 24px; color: antiquewhite;margin-left: 150px; margin-right: 150px;">
                    My name is Rami J. Hamati, and I am a graduating senior in a dual degree (BA/BS) engineering program
                    through Wesleyan University and Columbia University majoring in Physics and Mechanical Engineering. 

                </p>
                   
            <!-- </div> -->
        </center>
        
    </div>
    </body>
</html>